td, th{
    vertical-align: middle !important;
}

.modload{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF88;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinload {
    color: #007bff;
    font-size: 80px;
}


.fa-bounce2 {
    -webkit-animation-name: fa-bounce2;
    animation-name: fa-bounce2;
    -webkit-animation-delay: var(--fa-animation-delay,0s);
    animation-delay: var(--fa-animation-delay,0s);
    -webkit-animation-direction: var(--fa-animation-direction,normal);
    animation-direction: var(--fa-animation-direction,normal);
    -webkit-animation-duration: var(--fa-animation-duration,1s);
    animation-duration: var(--fa-animation-duration,1s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing,cubic-bezier(.28,.84,.42,1));
    animation-timing-function: var(--fa-animation-timing,cubic-bezier(.28,.84,.42,1))
}

@keyframes fa-bounce2 {
    0% {
        color: #007bff;
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0)
    }

    10% {
        
        -webkit-transform: scale(var(--fa-bounce-start-scale-x,1.1),var(--fa-bounce-start-scale-y,.9)) translateY(0);
        transform: scale(var(--fa-bounce-start-scale-x,1.1),var(--fa-bounce-start-scale-y,.9)) translateY(0)
    }

    30% {
        color: #007bff;
        -webkit-transform: scale(var(--fa-bounce-jump-scale-x,.9),var(--fa-bounce-jump-scale-y,1.1)) translateY(var(--fa-bounce-height,-.5em));
        transform: scale(var(--fa-bounce-jump-scale-x,.9),var(--fa-bounce-jump-scale-y,1.1)) translateY(var(--fa-bounce-height,-.5em))
    }

    50% {
        -webkit-transform: scale(var(--fa-bounce-land-scale-x,1.05),var(--fa-bounce-land-scale-y,.95)) translateY(0);
        transform: scale(var(--fa-bounce-land-scale-x,1.05),var(--fa-bounce-land-scale-y,.95)) translateY(0)
    }

    57% {
        
        -webkit-transform: scale(1) translateY(var(--fa-bounce-rebound,-.125em));
        transform: scale(1) translateY(var(--fa-bounce-rebound,-.125em))
    }

    64% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0)
    }

    to {
        color: #ff3c00;
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0)
    }
}
